<atm-stepper [steps]="steps"></atm-stepper>

<app-contact-validation />

<!-- <p>Informacion personal</p>
<atm-input
	type="email"
	label="Nombre"
	[required]="false"
	placeholder="nombre"
	formControlNameParent="email"
	errorMsg="Ingresa un email valido">
</atm-input>
<atm-input
	type="email"
	label="Apellido paterno"
	[required]="false"
	placeholder="nombre"
	formControlNameParent="email"
	errorMsg="Ingresa un email valido">
</atm-input>
<atm-input
	type="email"
	label="Apellido materno"
	[required]="false"
	placeholder="nombre"
	formControlNameParent="email"
	errorMsg="Ingresa un email valido">
</atm-input>
<atm-input
	type="email"
	label="Ocupacion"
	[required]="false"
	placeholder="nombre"
	formControlNameParent="email"
	errorMsg="Ingresa un email valido">
</atm-input> -->
